<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations.ForgotPassword }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/authenticate_styles.css' %}">
</head>
<body>
    <div class="password-reset-sent-container">
        <div class="language-switcher">
            <a href="?lang=en" class="language-link">English</a> |
            <a href="?lang=ru" class="language-link">Русский</a>
        </div>
        <p class="password-reset-sent-info">{{ translations.CheckPasswordResetEmail }}</p>
        <div class="additional-options">
            <a href="/login" class="login-link">{{ translations.BackToLogin }}</a>
        </div>
    </div>
</body>
</html>
